<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <WindowsAppSDKSelfContained>true</WindowsAppSDKSelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
    <PublishReadyToRun>false</PublishReadyToRun>
    <AssemblyName>Barberia.Operations</AssemblyName>
    <Product>Barberia Operations</Product>
    <PublishDir>$(MSBuildProjectDirectory)\bin\Release\operations-win-x64\</PublishDir>
  </PropertyGroup>
</Project>
